.c-IconSPDay, .c-SPDayNotice{
	display: none;
}

.active-outer .c-SPDayNotice{
	display: block;
}

.active-inner .c-IconSPDay{
	display: block;
}

/* sample style */
.c-IconSPDay span{
	background: #bf0000;
	color: #ffffff;
	display: inline-block;
	padding: 2px 4px;
}
/* //sample style */